.sectionCards{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    .divSection{
        width: 80%;
        margin: 0 auto;
        
        
}
}
// @media(max-width: 650px){
//     .ulCard{
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         flex-direction: row;
//         flex-wrap: wrap;
//     }
// }
.ulCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    overflow-y: auto;
        @media(max-width: 1115px){
                display: flex;
                overflow-y: auto;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 10px;
        }
    .divUlCard{
        width: 80%;
        margin: 0 auto;
    }
}
.divMessageSearch{
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 245px;
    align-items: center;
    justify-content: center;
}