$breakpoint-mobile: 770px;
$breakpoint-desktop: 1600px;

.headerContainer{
    background: var(--grey-0);
    max-width: 1600px;
    height: 13vh;
    display: flex;
    .divContentHeader{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        gap: 30px;
    }
        .divHeaderLogo{
            width: 100%;
            max-width: 150px;
        }

        .divContentLogoButton{
            display: flex;
            width: 93%;
            justify-content: space-between;
        }
        
        @media(max-width: $breakpoint-mobile){
            height: 20vh;
            .divContentHeader{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
       
        @media(max-width: 770px){
            .divContentHeader{
                width: 101%;
                padding: 18px;
                gap: 2px
            }
        }
}

.buttonCar{
        max-width: 25px;
        height: 25px;
        color: var(--color-button);
}
.spans{
            border-radius: 7px;
            background: var(--color-primary);
            position: relative;
            bottom: 33px;
            right: -10px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
.forms{
    width: 100%;
    max-width: 365px;
    display: flex;
    justify-content: flex-end;
}
.divInput{
    height: 60px;
    width: 100%;
    max-width: 365px;
    display: flex;
    border-radius: 8px;
    border: 2px solid var(--grey-100, #E0E0E0);
    background: #FFF;
    padding: 10px;
    align-items: center;
    &:hover{
        border: 2px solid var(--grey-600);
    }
    .search{
        color: var(--grey-0);
                height: 41px;
                padding: 0px 8px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: 2px solid #27AE60;
                background: #27AE60;
               
    }
}
input::placeholder{
    color: var(--grey-100);
        font-family:  'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
}