header{
    width: 100%;
    max-height: 80px;
    background: var(--grey-0);
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    img{
        max-width: 150px;
        height: 80px;
    }
    div{
        gap: 10px;
        display: flex;
    }
    form{
        width: 100%;
        max-width: 335px;
        height: 60px;
    }

    input{
        width: 335px;
        height: 60px;
        padding: 0px 10px 0px 15px;
        border-radius: 8px;
        border: 2px solid var(--grey-100, #E0E0E0);
        background: #FFF;
        &::placeholder{
            color: var(--grey-100);
            font-family:  'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
        &:hover{
            border: 2px solid var(--grey-600);
        }
    }
   
    
}

.search{
    color: var(--grey-0);
    display: flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #27AE60;
    background: #27AE60;
    top: -50px;
    left: 261px;
    position: relative;
}
.buttonCar{
    margin-top: 22px;
    margin-right: 18px;
}
.spans{
    border-radius: 7px;
    background: var(--color-primary);
    position: relative;
    bottom: 33px;
    right: -10px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.inputSearch{
    width: 100%;
    max-width: 365px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid var(--grey-100);
    background: #FFF;
}
.inputSearch::placeholder{
    color: var(--grey-100);
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    font-weight: 400;
}


@media(max-width: 650px) {
    .headerContainer{
        max-height: 211px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .divContent{
        gap: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    .buttonCar{
        position: relative;
        bottom: 70px;
        right: 45px;
        }
    }
}