.cardCar{
    display: flex;
    width: 100%;
    max-width: 460px;
    padding: 20px;
    height: 90px;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.imgCar{
    max-width: 55px;
    
}
.divImgCar{
    display: flex;
    align-items: center;
    width: 82px;
    height: 80px;
    background-color: var(--grey-100);
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}


.cardsCar{
    display: flex;
    gap: 20px;
}

.buttondeleteCar{
    color: var(--color-button);
}