.cardCar{
    display: flex;
    width: 100%;
    max-width: 460px;
    padding: 20px;
    height: 90px;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--grey-0, #F5F5F5);
    background: #FFF;
    flex-wrap: nowrap;
}

.imgCar{
    max-width: 55px;
    
}
.divImgCar{
    width: 82px;
    height: 80px;
    background-color: var(--grey-100);
}


.cardCar{
    display: flex;
}